* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:focus {
  outline: none;
}

:root {
  --bg-dark:#131921;
  --bg-gray:#3b4149;
  --bg-light:#f5f5f7;
  --bg-yellow:#febd69;
  --bg-light-dark: #232f3e;
  --bg-orange:#bf4800;
  --bg-light-gray:#777777;
  --bg-1c1c1b:#1c1c1b;
}

body {
  font-family: 'Rubik', sans-serif;
}
ul{
  margin: 0;
  padding: 0;
}

ul>li{
  list-style: none;
}

a { 
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
p{
  margin-bottom: 0;
}
/* Global Classes */

.button {
  padding: 10px 20px;
  border-radius: 25px;
  background-color: black;
  color: white;
}



.text-uppercase{
  text-transform: uppercase;
}

.shadow {
  box-shadow: 0  0 10px #0000001a;
}

.bg-dark{
  background-color: var(--bg-dark);
}
.bg-gray{
  background-color: var(--bg-gray);
}
.bg-light-dark{
  background-color: var(--bg-light-dark);
}
.bg-yellow{
  background-color: var(--bg-yellow);
}
.bg-light {
  background-color: var(--bg-light);
}
.bg-white {
  background-color: #fff;
}

.b-none{
  border: none;
}

.pointer{
  cursor: pointer;
}
.btn-dark{
  background-color: var(--bg-dark);
  color: #fff;
  padding: 13px 33px;
  font-size: 14px;
  border: none;
  border-radius: 25px;
  transition: .3s all ease;
}
.btn-dark:hover{
  background-color: var(--bg-yellow);
  color: var(--bg-dark);
}




/* /Global Classes */




